@model IEnumerable<ProyectoFinal.Models.DetalleCompra>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTolal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IVA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoTolal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IVA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compra.TipoComprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.ApellidoMaterno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idDetalleCompra">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idDetalleCompra">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idDetalleCompra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
