@model IEnumerable<ProyectoFinal.Models.Venta>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImporteTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImporteTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ApellidoMaterno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idVenta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idVenta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idVenta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
